{%extends 'home.html' %}
{% load static %}
<div class="product-catagories-wrapper pt-3">
  <div class="container">
    <div class="section-heading">
      <h6 class="ml-1">Product Category</h6>
    </div>
    <div class="product-catagory-wrap">
      <div class="row">
        <div class="col-4">
          <div class="card mb-3 catagory-card">
            <div class="card-body"><a href="catagory.html"><i class="lni-slim"></i><span>Women's</span></a></div>
          </div>
        </div>
        <div class="col-4">
          <div class="card mb-3 catagory-card">
            <div class="card-body"><a href="catagory.html"><i class="lni-apartment"></i><span>Lifestyle</span></a></div>
          </div>
        </div>
        <div class="col-4">
          <div class="card mb-3 catagory-card">
            <div class="card-body"><a href="catagory.html"><i class="lni-burger"></i><span>Foods</span></a></div>
          </div>
        </div>
        <div class="col-4">
          <div class="card mb-3 catagory-card">
            <div class="card-body"><a href="catagory.html"><i class="lni-cup"></i><span>Sports</span></a></div>
          </div>
        </div>
        <div class="col-4">
          <div class="card mb-3 catagory-card">
            <div class="card-body"><a href="catagory.html"><i class="lni-tshirt"></i><span>Men's</span></a></div>
          </div>
        </div>
        <div class="col-4">
          <div class="card mb-3 catagory-card">
            <div class="card-body"><a href="catagory.html"><i class="lni-island"></i><span>Travel</span></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
